body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
  overflow: hidden;
  font-family: verdana;
  width: 100vw;
  height: 100vh;
}

#loadingimage {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.itemname2 {
  text-align:center;
  width:110px;
  font-size:11px;
  position:absolute;
  bottom:5px;
  color:white;
  background: rgba(1,5,1,0.6);
}
.information {
  position: absolute;
  top: 1px;
  right: 4px;
  color: rgba(222, 222, 222, 1.0);
  font-size: 12px;
  text-align: center;
  text-transform: none;
}

.infowrap {
  background-color: rgba(22, 22, 22, 0.6);
  width: 100%;
}

.UseBarHead {
  position:absolute;
  background-color:white;
  padding:3px;
  color:black;
  font-size:8px;
  font-weight:bold;
  margin-left:2px;
  margin-top:2px;
  opacity:0.9;
}
.move-form {
  position: absolute;
  top: 35%;
  left: 46.75%;
  height: 30%;
  width: 7%;
}

#bind1 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:2px;
  opacity:0.9;

  margin-left:2px;

}

#bind2 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:2px;
  opacity:0.9;

  margin-left:116px;

}

#bind3 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:2px;
  opacity:0.9;

  margin-left: 230px;

}

#bind4 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:2px;
  opacity:0.9;


  margin-left: 344px;

}

input {
  height: 15%;
  width: 100%;
  font-size: 12px;
  text-align: center;
  border: 1px solid rgba(200, 200, 200, 0.0);
  background-color: rgba(20, 10, 20, 0.3);
  color: rgba(220, 220, 220, 1.0);
  margin-top: 5px;
}

h2 {
  margin-top: -8px;
}

.DispInfo {
  margin: 5px;
  font-weight: 0;
  font-size: 12px;
}

hr {
  opacity: 0.2;
}

.CurrentInformation {
  position: absolute;
  top: 75%;
  left: 35%;
  height: 22%;
  width: 26.5%;
  max-height: 25%;
  font-weight: 0;
  opacity: 0;
  font-size: 12px;
  font-weight: 0;
  text-decoration: none;
  color: rgba(220, 220, 220, 1.0);
  padding: 1%;
  font-family: verdana;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: hidden;
}

.Logs {
  position: absolute;
  top: 82.5%;
  left: 78%;
  height: 8%;
  width: 20%;
  max-height: 20%;
  font-weight: 0;
  opacity: 1;
  font-size: 12px;
  font-weight: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1.0);
  padding: 1%;
  font-family: verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}

.buttondude {
  flex-grow: 1;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  font-weight: 0;
  width: 100%;
  height: 15%;
  background: brown;
  opacity: 1;
  line-height: 50px;
  font-size: 12px;
  font-weight: 0;
  text-decoration: none;
  background-color: rgba(20, 10, 20, 0.3);
  color: rgba(220, 220, 220, 1.0);
  display: block;
  float: none;
  font-family: verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.CloseInv {
  margin-top: 50%;
  background-color: rgba(120, 10, 20, 0.3);
  color: rgba(220, 220, 220, 1.0);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  border-left: 1px solid #0f0;
  opacity: .2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button:hover, input[type="number"]::-webkit-inner-spin-button:active {
  box-shadow: 0 0 2px #0CF;
  opacity: .5;
}
.item2  {
    position: relative;
    float: left;
    width: 110px;
    height: 130px;
    text-align:center;
    border: 1px solid rgba(220,220,220,0.1);
    background-color:rgba(70,70,70,0.1);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin:1px;
    box-shadow: 0px -15px 0px rgba(20,10,20,0.6) inset; 
    text-transform:uppercase;
}

.item3 {
  position: relative;
  float: left;
  width: 110px;
  height: 120px;
  text-align: center;
  border: 1px solid rgba(220, 240, 220, 0.2);
  background-color: rgba(70, 70, 70, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px -15px 0px rgba(30,31,30,0.7) inset; 
  margin: 1px;
  text-transform: uppercase;
}

.item {
  position: relative;
  float: left;
  width: 110px;
  height: 130px;
  text-align: center;
  border: 1px solid rgba(220, 240, 220, 0.2);
  background-color: rgba(70, 70, 70, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px -22px 0px rgba(30,31,30,0.8) inset; 
  margin: 1px;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(220, 220, 220, 0.85);
}

#draggedItem {
  position: absolute;
  z-index: 80;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.itemimage {
  width: 100px;
  height: 100px;
  padding: 5px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}
.item {
  background-color:rgba(1,1,1,0.15);
}
.item:hover {
  background-color:rgba(55,55,11,0.05);
  border: solid rgba(222,222,222,0.25) 1px;

  -webkit-transition: opacity 1.2s ease;
  -moz-transition: opacity 1.2s ease;
  -ms-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;  
}

.inventorybg {
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(0.8rem);
  opacity:0.2;
  border: 1px solid rgba(200,200,200,0.9);
  position:absolute;

  z-index:-1;
  background: rgba(1,1,1,0.7);
  -moz-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  -webkit-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
}

.inventory {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow:hidden;
  display:block;
  z-index:12211;
  background: rgba(1,1,1,0.5);
  -moz-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  -webkit-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
}

#app {
  display: none;
  width: 100%;
  height: 100%;
}
.itemname3 {
  text-align:center;
  width:110px;
  font-size:8px;
  position:absolute;
  bottom:1px;
  color:white;
  padding-bottom:2px;
  overflow:hidden;
  max-height:10px;
}

.itemname {
  text-align:center;
  width:110px;
  font-size:8px;
  position:absolute;
  bottom:9px;
  color:white;
  padding-bottom:2px;
  overflow:hidden;
  max-height:10px;
}

.default {}

.itemQuality {
  text-align:center;
  font-size:7px;
  position:absolute;
  bottom:0px;
  color:white;
  background: rgba(111,195,111,0.9);
}

.perfect {
  text-align:center;
  font-size:8px;
  position:absolute;
  bottom:0px;
  color:black;
  background: rgba(211,211,211,0.9);
}

.destroyed {
  text-align:center;
  font-size:8px;
  position:absolute;
  bottom:0px;
  color:white;
  background: rgba(151,44,44,0.9);
  width:100%;
}


.default {

}

#UseBar {
  position: absolute;
  width: 31%;
  margin-left:46.5%;
  float:left;
  display:none;
  overflow-y:hidden;
  height:45%;
  margin-top:39%;
}

#ActionBar {
  position: absolute;
  width: 31%;
  margin-left: 38%;
  float: left;
  display: none;
  overflow-y: hidden;
  height: 45%;
  margin-top: 49%;
}

.wrapmain {
  position: relative;
  margin-top: 15%;
  width: 31%;
  margin-left: 10%;
  float: left;
  overflow-y: scroll;
  height: 45%;
}

.wrapsecondary {
  margin-top: 15%;
  width: 31%;
  margin-right: 10%;
  float: right;
  overflow-y: scroll;
  height: 45%;
}

.wrapmain::-webkit-scrollbar {
  width: 5px;
}

.wrapmain::-webkit-scrollbar-thumb {
  background: rgba(111, 111, 185, 0.7) !important;
}

.wrapsecondary::-webkit-scrollbar {
  width: 5px;
}

.wrapsecondary::-webkit-scrollbar-thumb {
  background: rgba(111, 111, 185, 0.7) !important;
}

.wrapPersonalWeight {
  position: absolute;
  left: 10.5%;
  top: 22%;
  font-size: 12px;
  color: white;
}

.wrapSecondaryWeight {
  position: absolute;
  left: 58.5%;
  top: 22%;
  font-size: 12px;
  color: white;
}