cache
citizen/system_resources
citizen/scripting
cache/files/monitor/resource.rpf
polyzone_created_zones.txt
*.dll
*.log
*.dmp
*.txt
*.pdb
citizen/clr2/lib/mono/4.5/CitizenFX.Core.xml
citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.pdb
*.exe
citizen/system_resources/monitor/web/settings.html
citizen/system_resources/monitor/web/public/js/txadmin/players.js
citizen/system_resources/monitor/web/public/js/txadmin/dark.js
citizen/system_resources/monitor/web/public/js/coreui.bundle.min.js
citizen/system_resources/monitor/web/public/css/txAdmin.css
citizen/system_resources/monitor/web/public/css/dark.scss
*.bat
!set-passwords.bat
*.clean
*.smudge
*.backup
*.lnk
