@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html, body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: "Lato", helvetica, arial, sans-serif;
}
 body {
  align-content: center;
  width: 98%;
  height: 98%;
}

input[id=authcode] {
  width:90%;
  text-align: center;
  background: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 72px;
}

container {
  width: 400px;
  border: 2px solid black;
  display: inline-block;
  background-color: #333;
}

block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background: #999;
  font-size: 32px;
  border-radius: 5px;
}

block[v2] {
  height: 210px;
}

block[h2] {
  width: 210px;
}

.padStatusGood {
  width:50%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: #000;
  background: #0f0;
  font-family: 'Courier New', Courier, monospace;
}

.padStatusBad {
  width:90%;
  text-align: center;
  background: #800;
  font-weight: bold;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}